--compilation_level SIMPLE build\\gen_blocks.js blocks_vertical\\control.js blocks_vertical\\data.js blocks_vertical\\default_toolbox.js blocks_vertical\\event.js blocks_vertical\\extensions.js blocks_vertical\\looks.js blocks_vertical\\motion.js blocks_vertical\\operators.js blocks_vertical\\procedures.js blocks_vertical\\sensing.js blocks_vertical\\sound.js blocks_vertical\\vertical_extensions.js core\\colours.js core\\constants.js